{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Edit {{title}}</h1>

    <form method="POST" action="{% url 'saveedit' %}">
        {% csrf_token %} 
        <div class="form-group mr-4">
        <input type="hidden" name="title" value="{{ title }}">
        <textarea class="form-control mt-4 mb-4"  name="content" id="content" cols="30" rows="20">{{content}}</textarea>
        <button  class="form-control btn btn-primary" type="submit">Save Changes</button>
        </div>
    </form>

{% endblock %}